<?xml version="1.0" encoding="UTF-8"?>

<!--
VeloCity
Copyright (C) 2022 Dust in the Wind

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>

        <ComponentGroup Id="EnvironmentComponentGroup" Directory="INSTALLDIR">
            <Component Id="EnvironmentComponent" Guid="7221BA39-4147-4916-8ED3-CCDD8503D6EE">
                <CreateFolder />
                <Environment
                    Id="SetPath"
                    Name="PATH"
                    Value="[INSTALLDIR_CLI]"
                    Permanent="no"
                    Part="last"
                    Action="set"
                    System="yes" />
            </Component>
        </ComponentGroup>

    </Fragment>
</Wix>